{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    <div class="container mt-5">
    <h1 class="mb-2">{{ title }}</h1>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque blanditiis deleniti enim error eum
            expedita incidunt minus nam, numquam odio officia perferendis ratione recusandae rem reprehenderit sed
            temporibus voluptates.
        </div>
        <div>Accusantium deleniti dicta doloremque, dolorum eaque eum eveniet ex facilis ipsa iste neque nobis obcaecati
            optio quam qui quis rerum sapiente sunt temporibus voluptatum? Debitis id iste molestiae officiis quam!
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dignissimos dolore earum enim eveniet
            expedita explicabo illo laudantium natus necessitatibus nemo nobis, non officiis optio possimus quod sit
            veritatis voluptatibus!</p>
        <p>Deleniti excepturi minima voluptatem. Autem culpa dolor incidunt. Beatae commodi distinctio doloribus eius
            molestias mollitia repellat repellendus velit veritatis. Animi cupiditate dolorum ea enim hic illo quia,
            reprehenderit sed temporibus.</p>
    </div>
{% endblock %}