{% block calendar %}
    <a class="btn btn-primary" href="{{ path('cours_new') }}">Ajouter un cours</a>
    <br />
    <br />
    <div
        id="calendar-holder"
        data-events-url="{{ path('fc_load_events') }}"
    ></div>
{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}