{% extends 'base.html.twig' %}

{% block title %}Edit Cours{% endblock %}

{% block body %}
    <h1>Modifier cours</h1>

    {{ include('forms/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cours_list') }}">back to list</a>

    {{ include('forms/_delete_form.html.twig') }}
{% endblock %}
